/* 1)   Specific Containers (Layout only) */

.slim-container{
    width:30%;
    margin-left:5em;
    padding: 1em;
    margin-top:2em;
}

.wide-container{
    width:55%;
    margin-right:5em;
    margin-top:2em;
    padding:1em;
}

/* 2) Wide-container/Guest List display features */
  
/*      a. List order and decoration */

li{
    list-style: none;
}

ul{
    text-align: left;
}

p{
    margin-bottom: 0;
}

.list-item{
    width: 100%;
    background-color: #2b405538;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding:0.5em;
    margin-bottom:0.5em;
}

/*     b. Text and font styles */

.guest-head{
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
}

.guest-body{
    font-style: italic;
}

/* 3) Precise form control (mostly Bootstrap Overrides) */

.tab-content{
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 5px lightgrey inset;
    padding:1em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: white;
    border: 1px solid black;
    border-bottom: 0;
    box-shadow: 5px 5px 10px 5px lightgrey inset;
}

.nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: white;
    border: 1px solid black;
    border-bottom: 0;
    box-shadow: 5px 5px 10px 5px lightgrey inset;
}

.nav-tabs .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: white;
    border: 1px solid darkgrey;
    border-bottom: 0;
    box-shadow: 5px 5px 10px 5px rgba(211, 211, 211, 0.678) inset;
}

.j-right{
display: inline-flex;
justify-content: flex-end;
width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 1em;
}

.g-2{
    width: 97%;
    margin-left:0.3em;
}

/* 4) Button and button-container display */

.right-btn{
    width: fit-content;
    margin-top: 1em;
    background-color: rgba(209, 208, 208, 0.712);
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.right-btn-2{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.712);
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.btn-title {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;
}